html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
    font-weight: normal;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 100;
}

.icon {
    position: fixed;
    z-index: 1000;
}
.icon:hover {
    cursor: pointer;
}

.icon.bottom {
    bottom: 2em;
    left: 50%;
}
.icon.left {
    left: 2em;
    top: 50%;
}
.icon.right {
    right: 2em;
    top: 50%;
}
.icon.top {
    left: 50%;
    top: 2em;
}


.stroke {
    text-shadow:
   -1px -1px 0 #555,  
    1px -1px 0 #555,
    -1px 1px 0 #555,
     1px 1px 0 #555;
}

#app {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 10;
}

.page {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 2000px;
    transition: top .5s ease 0s;
    width: 100%;
}
.page:nth-child(1) {
    top: 0;
}

.page h2 {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    z-index: 200;
}

.page .photos {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.page .photos .photo {
    height: 100%;
    left: 2000px;
    position: absolute;
    top: 0;
    transition: left .5s ease 0s;
    width: 100%;
}
.page .photos .photo:nth-child(1) {
    left: 0;
}

.page:nth-child(1) .photos .photo:nth-child(1) {
    background-color: #7BBC43;
}
.page:nth-child(1) .photos .photo:nth-child(2) {
    background-color: #95CA68;
}
.page:nth-child(1) .photos .photo:nth-child(3) {
    background-color: #B0D88D;
}
.page:nth-child(1) .photos .photo:nth-child(4) {
    background-color: #CAE6B2;
}
.page:nth-child(2) .photos .photo:nth-child(1) {
    background-color: #183D46;
}
.page:nth-child(2) .photos .photo:nth-child(2) {
    background-color: #255F6C;
}
.page:nth-child(2) .photos .photo:nth-child(3) {
    background-color: #308193;
}
.page:nth-child(2) .photos .photo:nth-child(4) {
    background-color: #3CA4BB;
}
.page:nth-child(3) .photos .photo:nth-child(1) {
    background-color: #AF3FB5;
}
.page:nth-child(3) .photos .photo:nth-child(2) {
    background-color: #C35FC9;
}
.page:nth-child(3) .photos .photo:nth-child(3) {
    background-color: #D284D7;
}
.page:nth-child(3) .photos .photo:nth-child(4) {
    background-color: #E1AAE4;
}
.page:nth-child(4) .photos .photo:nth-child(1) {
    background-color: #5B3DAB;
}
.page:nth-child(4) .photos .photo:nth-child(2) {
    background-color: #7456C4;
}
.page:nth-child(4) .photos .photo:nth-child(3) {
    background-color: #937BD2;
}
.page:nth-child(4) .photos .photo:nth-child(4) {
    background-color: #B2A1E0;
}
.page:nth-child(5) .photos .photo:nth-child(1) {
    background-color: #0D2613;
}
.page:nth-child(5) .photos .photo:nth-child(2) {
    background-color: #1A4C26;
}
.page:nth-child(5) .photos .photo:nth-child(3) {
    background-color: #267339;
}
.page:nth-child(5) .photos .photo:nth-child(4) {
    background-color: #319B4B;
}






#welcome {
    /*
    background: url('../images/sunset_boat.jpg') no-repeat center center fixed; 
    background-size: cover;
    */
}

#accommodation {
}

#activities {
}

#places {
}

#contact {
    bottom: 1em;
    font-size: 2em;
    left: 1em;
    position: fixed;
    z-index: 100;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


.hidden {
    display: none;
}
